.achievements {
  padding-top: 123px;
  padding-bottom: 120px;

  @include mini-desktop {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include mobile {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 86px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 50px;
    }
  }

  &__item {
    @include flex-column-center;
    padding-top: 68px;
    background-image: url('../img/achievements-1.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 48px 48px;

    @include mobile {
      padding-top: 40px;
      background-size: 30px 30px;
    }

    &--renovated {
      background-image: url('../img/achievements-2.svg');
    }

    &--specialists {
      background-image: url('../img/achievements-3.svg');
    }

    &--finished {
      background-image: url('../img/achievements-4.svg');
    }
  }

  &__value {
    margin-bottom: 9px;
    color: var(--color-primary);
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;

    @include tablet{
      font-size: 38px;
    }

    @include tablet{
      font-size: 28px;
    }

    & sup {
      font-size: 32px;
    }
  }

  &__descr {
    margin: 0;
    color: var(--color-ebony);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
  }
}
