.contacts-section {
  @include bg-cover;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../img/contacts-section.jpg");
}

.contacts-form {
  display: flex;
  flex-direction: column;
  grid-column: 8 / -1;
  padding: 48px 40px;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #E5E8ED);
  background-color: var(--color-light);
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),
    0px 12px 10px -6px rgba(30, 33, 44, 0.08),
    0px 26px 24px -10px rgba(30, 33, 44, 0.10),
    0px 60px 80px -20px rgba(30, 33, 44, 0.16);

    @include mini-desktop {
      grid-column: 7 / -1;
    }


    @include tablet {
      grid-column: 6 / -1;
    }

    @include small-tablet {
      grid-column: 1 / -1;
    }

    &__title {
      margin: 0;
      margin-bottom: 24px;
      text-align: center;
      color: var(--color-ebony);
      font-size: 28px;
      font-weight: 700;
      line-height: 150%;
    }

    &__field {
      margin-bottom: 21px;
    }

    &__input {
      width: 100%;

      &--big {
        height: 66px;
        padding: 11px 16px;
        resize: none;
      }
    }

    &__checkbox {
      margin-bottom: 24px;
    }

    &__btn {
      padding: 12px 31px;
      align-self: center;
      font-size: 14px;
      line-height: 16px;
    }
}
