.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--color-ebony);
  color: rgba(255,255,255,0.6);

  &__container {
    position: relative;
    gap: 49px 30px;
  }

  &__left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-column: 5 span;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 22px;
  }

  &__form {
    grid-column: -6/-1;
  }

  &__address {
    grid-column: 4 span;
  }

  &__nav {
    grid-column: 5 span;
  }

  &__descr {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  &__title {
    margin: 0;
    margin-bottom: 13px;
    color: var(--color-light);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__copyright {
    grid-column: 4 span;
    grid-row: 3;
    color: var(--color-light);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;

    & span {
      padding-left: 20px;
      background-image: url('../img/Heart.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px 16px;
    }
  }

  &__logo {
    flex-shrink: 0;
  }
}

.footer-form {
  &__subtitle {
    margin: 0;
    margin-bottom: 24px;
    color: var(--color-light);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }

  &__items {
    @include flex-v-center;

    margin-bottom: 16px;
  }

  &__field {
    flex-grow: 1;
  }

  &__input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 4px 0px 0px 4px;
    background-color: rgba(255, 255, 255, 0.12);
  }

  &__btn {
    padding: 11px 21px;
    border-radius: 0px 4px 4px 0px;
    letter-spacing: normal;
  }

  &__descr {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
}

.footer-address {
  margin-bottom: 10px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }

  &__name {
    color: var(--color-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }

  &__link {
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
      border-radius: 4px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-primary);
    }
  }
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 10px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__link {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;

    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
      border-radius: 4px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-primary);
    }
  }

  &__col:last-child {
    padding-left: 33px;
  }
}

.to-top {
  display: none;
  position: fixed;
  z-index: 30;
  right: calc((100% - 1260px) / 2 + 15px);
  bottom: 80px;
  cursor: pointer;

  &__text {
    margin-right: 16px;
    color: var(--color-light);
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;

    text-shadow: 0px 3px 8px rgb(54, 54, 54),
  }

  &__icon {
    @include flex-all-center;

    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--color-primary);
    transition: background-color 0.3s ease-in-out;

    & svg {
      height: 24px;
      width: 24px;
      fill: var(--color-light);
    }
  }

  &:hover {
    .to-top__icon {
      background-color: var(--color-primary-contrast);
    }
  }

  @include big-desktop {
    bottom: 20px;
    right: 20px;
  }
}
