.hero {
  position: relative;
  padding-top: 220px;
  padding-bottom: 354px;
  color: var(--light-color);
  background-image: url("../img/main-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-gray);

  @include small-tablet {
    padding-top: 150px;
    padding-bottom: 200px;
  }

  @include mobile {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__content {
    max-width: 577px;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__slider-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    padding: 0 32px;
    justify-content: space-between;
    transform: none;

    .slider-btn {
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
      background-color: var(--color-light);

      &:hover {
        opacity: 0.7;
        color: var(--color-gray);
      }
    }

    .swiper-button-disabled {
      opacity: 0.5;

      &:hover {
        opacity: 0.5;
        color: var(--color-gray);
      }
    }

    @include big-desktop {
      display: none;
    }
  }

  &__pag {
    counter-reset: pag;

    display: flex;
    gap: 4px;

    bottom: 120px !important;
    max-width: var(--container-width);
    padding-left: max(15px, calc((100% - var(--container-width) + var(--container-offset) * 2) / 2));
    padding-right: 15px;
    text-align: left;

    @include small-tablet {
      gap: 7px;
      bottom: 90px !important;
    }

    @include mobile {
      display: none;
    }

    .swiper-pagination-bullet {
      border-radius: 0;
      width: 178px;
      height: auto;
      background-color: transparent;
      text-align: left;
      opacity: 1;

      @include small-tablet {
        width: 120px;
      }

      &::before {
        counter-increment: pag;
        content: "0"counter(pag);
        position: relative;
        top: -8px;
        font-size: 28px;
        font-weight: 700;
        line-height: 150%;
        opacity: 0.6;
        transition: opacity 0.3s ease-in-out;

        @include small-tablet {
          font-size: 20px;
        }
      }

      &::after {
        content: "";
        display: block;
        border-radius: 4px;
        width: 100%;
        height: 2px;
        background-color: var(--color-light);
        opacity: 0.3;
        transition: opacity 0.3s ease-in-out;
      }

      &-active {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;

  }
}
