.mission {
  background-color: var(--color-light);

  &--about-us {
    padding-top: 81px;
    padding-bottom: 90px;
    background-color: var(--color-lightgray);

    @include mobile {
      padding-top: 40px;
      padding-bottom: 45px;
    }
  }

  &__list {
    --mission-gap: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--mission-gap) * 2);

    @include tablet {
      --mission-gap: 30px;
    }

    @include small-tablet {
      grid-template-columns: auto;
    }

    @include mobile {
      --mission-gap: 20px;
    }
  }

  &__form {
    margin-top: 27px;
  }

  &__item {
    position: relative;
    padding-top: 70px;
    text-align: center;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-position: top center;

    @include mobile {
      padding-top: 40px;
      background-size: 30px 30px;
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: calc(-1 * var(--mission-gap));
        height: 100%;
        width: 1px;
        background-image: url("../img/divider.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include small-tablet {
          display: none;
        }
      }
    }

    &--quality {
      background-image: url("../img/quality.svg");
    }

    &--safety {
      background-image: url("../img/safety.svg");
    }

    &--comfort {
      background-image: url("../img/comfort.svg");
    }

    &--training {
      background-image: url("../img/training.svg");
    }

    &--growth {
      background-image: url("../img/growth.svg");
    }

    &--salary {
      background-image: url("../img/salary.svg");
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-storm);

    @include small-tablet {
      max-width: 80%;
      margin: 0 auto;
    }

    @include mobile {
      max-width: initial;
      margin: 0 auto;
    }
  }
}

.know-form {
  position: relative;
  top: 92px;
  padding: 48px 60px;
  background: var(--color-light);
  /* shadow/small */

  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;

  @include mobile {
    top: 50px;
    padding: 48px 30px;
    padding-top: 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);
  }

  &__content {
    display: flex;
    align-items: flex-end;
    gap: 24px;

    @include tablet {
      flex-wrap: wrap;
      gap: 18px 15px;

      & > * {
        width: 48%;
        flex-grow: 1;
      }

      .form-field__input {
        width: 100%;
      }
    }
  }

  &__btn {
    padding: 11px 29px;
  }
}
