.partners {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: var(--color-lightgray);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    gap: 37px 102px;
  }

  &__logo--last {
    filter: grayscale(1) opacity(0.5);
  }

  &--work {
    padding-top: 180px;
    padding-bottom: 118px;
    background-color: var(--color-light);
  }

  &--about {
    padding-top: 120px;
    padding-bottom: 78px;
    background-color: var(--color-light);

    .partners__title {
      margin-bottom: 22px;
    }
  }
}
