.partners {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: var(--color-lightgray);

  @include mobile {
    padding-top: 40px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    justify-content: space-between;
    gap: 30px;

    @include tablet {
      grid-template-columns: repeat(3, 120px);
      justify-content: space-around;
    }

    @include mobile {
      grid-template-columns: repeat(2, 120px);
    }
  }

  &__link {
    &:focus {
      border-radius: 4px;
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  &__logo--last {
    filter: grayscale(1) opacity(0.5);
  }

  &--work {
    padding-top: 180px;
    padding-bottom: 118px;
    background-color: var(--color-light);

    @include mobile {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &--about {
    padding-top: 120px;
    padding-bottom: 78px;
    background-color: var(--color-light);

    @include mobile {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .partners__title {
      margin-bottom: 22px;
    }
  }
}
