.portfolio-section {
  padding-bottom: 120px;
  background-color: var(--color-light);

  @include small-tablet {
    padding-bottom: 60px;
  }

  &__top {
    @include flex-all-sb;
    align-items: flex-end;
    margin-bottom: 48px;

    @include mobile {
      flex-wrap: wrap;
      transform: none;
    }
  }

  &__title {
    max-width: 710px;
    padding-bottom: 12px;
    margin: 0;
  }

  &__slider {
    padding: 100px;
    margin: -100px;

    .swiper-slide:not(.swiper-slide-visible) {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
  }

  &__learn {
    margin-top: 80px;
  }

}

