.post {
  margin-top: -80px;

  &__image {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  &__wrapper {
    max-width: 840px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__content {
    padding-top: 76px;
    margin-bottom: 61px;

    * {
      margin: 0;
      margin-bottom: 28px;
      color: var(--color-gray);
      font-size: 16px;
      font-weight: 400;
      line-height: 160%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      margin: 0;
      margin-bottom: 25px;
      color: var(--color-ebony);
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
    }

    blockquote {
      position: relative;
      margin: 0;
      padding-top: 22px;
      margin-bottom: 48px;
      padding-left: 58px;
      color: var(--color-ebony);
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;

      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: 0;
        width: 28px;
        height: 20px;
        background-image: url("../img/braces.svg");
      }
    }

    ul {
      margin: 0;
      margin-bottom: 24px;
      padding: 0;
      list-style-type: none;
    }

    li {
      position: relative;
      margin-bottom: 4px;
      padding-left: 32px;

      &::before {
        @include bg-cover;

        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: url("../img/decisions-check.svg");
      }
    }
  }

  &__share {
    margin-bottom: 80px;

    &-text {
      color: var(--color-ebony);
      font-size: 16px;
      font-weight: 700;
      line-height: 160%;
  }
}
}
