.comments {
  padding-bottom: 60px;
  &__wrapper {
    max-width: 840px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 61px;
  }
}

.comment {
  display: flex;
  gap: 30px;

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }

  &__left {
    flex-shrink: 0;
    width: 150px;
  }

  &__name {
    margin: 0;
    margin-bottom: 8px;
    color: var(--color-ebony);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
  }

  &__date {
    color: var(--color-storm);
    font-size: 14px;
    line-height: 150%;
  }

  &__text {
    margin: 0;
    margin-bottom: 16px;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 160%;
  }

  &__mention {
    color: var(--color-primary);
    font-weight: 700;

    transition: color 0.3s ease-in-out;

    &:focus {
      border-radius: 4px;
      outline: 2px solid var(--color-primary);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--color-primary-contrast);
    }

    &:active {
      color: var(--color-primary-contrast);
    }
  }

  &__btn {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-storm);
    font-size: 14px;
    line-height: 150%;
    transition: color 0.3s ease-in-out;

    &:focus {
      border-radius: 4px;
      outline: 2px solid var(--color-primary);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-primary);
    }

    & svg {
      height: 16px;
      width: 16px;
      color: inherit;
      fill: currentColor;
    }
  }
}
