.project-goal {
  padding-bottom: 120px;

  @include small-tablet {
    padding-bottom: 60px;
  }

  &__container {
    gap: 30px 0;
  }

  &__left {
    grid-column: 6 span;
    padding-top: 40px;

    @include tablet {
      padding-top: 0;
    }

    @include small-tablet {
      grid-column: 12 span;
    }
  }

  &__title {
    margin-bottom: 38px;
  }

  &__descr {
    margin: 0;

    color: var(--color-gray);
    font-size: 18px;
    line-height: 150%; /* 27px */

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 6 span;

    @include small-tablet {
      grid-column: 12 span;
    }
  }
}

.project-info {
  padding: 40px 67px 40px 60px;
  border-radius: 4px;
  background: var(--color-light);

  /* shadow/small */
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
  0px 12px 10px -6px rgba(154, 156, 165, 0.04),
  0px 30px 24px -10px rgba(154, 156, 165, 0.05),
  0px 80px 80px -20px rgba(154, 156, 165, 0.08);

  @include tablet {
    padding: 20px 30px;
  }

  @include small-tablet {
    width: 100%;
  }

  @include mobile {
    padding: 10px 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16.5px;
  }

  &__item {
    display: flex;
    gap: 32px;
  }

  &__category {
    margin: 0;
    width: 98px;
    flex-shrink: 0;
    color: var(--color-ebony);
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;

    @include small-tablet {
      width: 25%;
    }

    @include mobile {
      width: 98px;
    }
  }

  &__value {
    color: var(--color-storm);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
}
