.recent-news {
  padding-top: 30px;
  padding-bottom: 120px;
  background-color: var(--color-light);

  @include small-tablet {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 59px;
  }

  &__list {
    grid-template-rows: 255px 255px;
    margin-bottom: 80px;

    @include tablet {
      grid-template-rows: initial;
    }

    @include small-tablet {
      margin-bottom: 50px;
    }

    @include mobile {
      gap: 30px 0;
    }
  }

  &__item {
    display: flex;
    grid-column: 5 span;

    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;

      @include tablet {
        grid-column: 12 span;
        grid-row: 1;
      }
    }

    @include tablet {
      grid-column: 6 span;
    }

    @include small-tablet {
      grid-column: 12 span;
    }
  }
}

.recent-article {
  position: relative;
  border-radius: 4px;
  background-color: var(--color-light);
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
  0px 12px 10px -6px rgba(154, 156, 165, 0.04),
  0px 30px 24px -10px rgba(154, 156, 165, 0.05),
  0px 80px 80px -20px rgba(154, 156, 165, 0.08);

  @include small-tablet {
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  &__text {
    padding: 24px 24px 25px;
  }

  &--normal .recent-article__text {
    padding-bottom: 19px;
  }

  &--small .recent-article__text {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 11px;
  }

  &--small .recent-article__title {
    margin-bottom: 8px;
  }

  &__link {
    color: var(--color-ebony);

    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      border-radius: 4px;
      z-index: 3;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &:focus {
      outline: none;
      &::before {
        outline: 2px solid var(--color-primary);
        outline-offset: 3px;
      }

    }
    &:hover {
      color: var(--color-primary);
    }
    &:active {
      color: var(--color-primary-contrast);
    }
  }

  &__descr {
    margin: 0;
    margin-top: 19px;
    color: var(--color-gray);
    line-height: 160%;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }
}


.article-meta {
  display: flex;
  gap: 25px;

  @include mobile {
    flex-wrap: wrap;
    gap: 10px 25px;
  }

  &__item {
    position: relative;
    color: var(--color-storm);
    font-size: 14px;
    line-height: 150%;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -12px;
      top: 4px;
      width: 1px;
      height: 12px;
      background-color: var(--color-storm);
    }

    &--comments {
      padding-left: 20px;

      &::before {
        @include bg-cover;

        content: "";
        position: absolute;
        left: 0px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url("../img/chat.svg");
      }
    }

    &--time {
      padding-left: 20px;

      &::before {
        @include bg-cover;

        content: "";
        position: absolute;
        left: 0px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url("../img/clock.svg");
      }
    }

    &--current {
      color: var(--color-primary);
      font-weight: 700;
      line-height: 160%;
    }
  }

  &__left {
    display: flex;
    gap: 24px;

    @include mobile {
      flex-wrap: wrap;
      gap: 10px 24px;
    }
  }

  &__right {
    display: flex;
    gap: 12px;
  }

  &__link {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: var(--color-storm);

    transition: color 0.3s ease-in-out;

    &:focus {
      border-radius: 4px;
      outline: 2px solid var(--color-primary);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-primary);
    }

    & svg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      fill: currentColor;
    }
  }

  &--single {
    justify-content: space-between;

    & .article-meta__item {
      font-size: 16px;

      &:not(:last-child)::after {
        right: -12px;
        top: 4px;
        width: 1px;
        height: 16px;
      }

      &--comments {
        padding-left: 29px;

        &::before {
          left: 0px;
          top: 1px;
          width: 20px;
          height: 20px;
        }
      }
      &--time {
        padding-left: 29px;

        &::before {
          left: 0px;
          top: 1px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
