.services {
  position: relative;
  padding-top: 121px;
  padding-bottom: 180px;
  --services-gap: 80px;

  @include small-tablet {
    padding-top: 60px;
    padding-bottom: 80px;
    --services-gap: 30px;
  }

  @include mobile {
    padding-bottom: 60px;
    --services-gap: 20px;
  }

  &::before {
    @include bg-cover;

    content: "";
    position: absolute;
    right: -10px;
    top: 765px;
    width: 500px;
    height: 550px;
    background-image: url('../img/services-content-bg-1.png');
  }

  &::after {
    @include bg-cover;

    content: "";
    position: absolute;
    left: 19px;
    bottom: -13px;
    width: 364px;
    height: 542px;
    background-image: url('../img/services-content-bg-2.png');
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 120px;

    @include small-tablet {
      gap: 60px;
    }

    @include mobile {
      gap: 40px;
    }
  }

  &__item {
    display: flex;
    gap: var(--services-gap);

    &:nth-child(2n) {
      flex-direction: row-reverse;

      @include small-tablet {
        flex-direction: column;
      }
    }

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__info {
    @include flex-column-start;

    justify-content: center;
    padding: 20px 0;
  }

  &__image {
    width: calc((100% - var(--services-gap)) / 2);
    border-radius: 4px;

    @include small-tablet {
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    color: var(--color-ebony);
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
  }

  &__descr {
    margin: 0;
    margin-bottom: 48px;
    color: var(--color-storm);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__link {
    padding: 11px 31px;
    font-size: 14px;
  }
}
