.testimonials {
  padding-top: 68px;
  background-color: var(--color-lightgray);

  @include small-tablet {
    padding-bottom: 30px;
  }

  @include mobile {
    padding-top: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include mini-desktop {
      gap: 15px;
    }
  }

  &__content {
    padding-top: 60px;
    max-width: 612px;

    @include mini-desktop {
      max-width: 55%;
    }

    @include mobile {
      max-width: 90%;
    }
  }

  &__nav {
    position: absolute;
    bottom: 0;
    right: 12px;
  }

  &__title {
    margin-bottom: 59px;
  }

  &__image {
    position: relative;
    bottom: -60px;

    @include mini-desktop {
      width: 43%;
    }

    @include mobile {
      display: none;
    }
  }

  &--work {
    padding-top: 19px;
  }
}

.testimonials-item {
  &__image {
    margin-bottom: 22px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }

  &__author {
    display: block;
    margin-bottom: 4px;
    padding-right: 110px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-ebony);
  }

  &__author-position {
    display: block;
    padding-bottom: 12px;
    padding-right: 110px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);

  }
}
