.work-images {
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__slider {
    margin-bottom: 16px;
  }

  &__prev {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #ffffff80;

    @include mobile {
      left: 20px;
      width: 30px;
      height: 30px;
      & svg {
        height: 14px;
        width: 14px;
      }
    }
  }

  &__next {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #ffffff80;

    @include mobile {
      right: 20px;
      width: 30px;
      height: 30px;
      & svg {
        height: 14px;
        width: 14px;
      }
    }
  }

  &__slider-nav {
    & .swiper-slide {
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
