<section class="achievements">
  <div class="container">
    <ul class="achievements__list list-reset">
      <li class="achievements__item achievements__item--clients">
        <div class="achievements__value">60%</div>
        <p class="achievements__descr">Clients on the recommendation of friends</p>
      </li>
      <li class="achievements__item achievements__item--renovated">
        <div class="achievements__value">2400+</div>
        <p class="achievements__descr">Apartments renovated</p>
      </li>
      <li class="achievements__item achievements__item--specialists">
        <div class="achievements__value">670</div>
        <p class="achievements__descr">Qualified specialists</p>
      </li>
      <li class="achievements__item achievements__item--finished">
        <div class="achievements__value">150000+&nbsp;m<sup>2</sup></div>
        <p class="achievements__descr">Finishing work was carried out</p>
      </li>
    </ul>
  </div>
</section>
