<section class="benefits">
  <div class="container">
    <h2 class="title title--center">Employee benefits</h2>
    <p class="descr descr--center">There’s always room for talent.</p>
    <ul class="list-reset mission__list">
      <li class="mission__item mission__item--training">
        <h3 class="mission__subtitle">
          Training
        </h3>
        <p class="mission__descr">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip
          sunt.</p>
      </li>
      <li class="mission__item mission__item--growth">
        <h3 class="mission__subtitle">
          Professional Growth
        </h3>
        <p class="mission__descr">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim
          empor est ea.</p>
      </li>
      <li class="mission__item mission__item--salary">
        <h3 class="mission__subtitle">
          Growing Salary
        </h3>
        <p class="mission__descr">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco
          proident ea ad.</p>
      </li>
    </ul>
  </div>
</section>
