<section class="offices">
  <div class="container">
    <h2 class="title title--center">Our offices</h2>
    <p class="descr descr--center">
      Give us a call, send us a note or visit our office. We can’t wait to hear from you!
    </p>
    <ul class="offices__list list-reset">
      <li class="offices__item">
        <h3 class="offices__title">New York, USA</h3>
        <p class="offices__address">8502 Preston Rd. Inglewood, New York 98380</p>
        <a href="#" class="offices__link">See on the map</a>
        <ul class="offices__contacts-list contacts-list list-reset">
          <li class="contacts-list__item">
            <span class="contacts-list__title">Call:</span>
            <a href="tel:4055550128" class="contacts-list__link">(405) 555-0128</a>
          </li>
          <li class="contacts-list__item">
            <span class="contacts-list__title">Email:</span>
            <a href="mailto:hello@createx.com" class="contacts-list__link">hello@createx.com</a>
          </li>
          <li class="contacts-list__item">
            <span class="contacts-list__title">Schedule:</span>
            <span class="contacts-list__data">Mon - Fri 9:00 - 18:00</span>
          </li>
        </ul>
      </li>
      <li class="offices__item">
        <h3 class="offices__title">New Jersey, USA</h3>
        <p class="offices__address">2464 Royal Ln. Mesa, New Jersey 45463</p>
        <a href="#" class="offices__link">See on the map</a>
        <ul class="offices__contacts-list contacts-list list-reset">
          <li class="contacts-list__item">
            <span class="contacts-list__title">Call:</span>
            <a href="tel:8085550111" class="contacts-list__link">(808) 555-0111</a>
          </li>
          <li class="contacts-list__item">
            <span class="contacts-list__title">Email:</span>
            <a href="mailto:hello@createx.com" class="contacts-list__link">hello@createx.com</a>
          </li>
          <li class="contacts-list__item">
            <span class="contacts-list__title">Schedule:</span>
            <span class="contacts-list__data">Mon - Fri 9:00 - 18:00</span>
          </li>
        </ul>
      </li>
      <li class="offices__item">
        <h3 class="offices__title">San Francisco, USA</h3>
        <p class="offices__address">8502 Preston Rd. Inglewood, San Francisco 98380</p>
        <a href="#" class="offices__link">See on the map</a>
        <ul class="offices__contacts-list contacts-list list-reset">
          <li class="contacts-list__item">
            <span class="contacts-list__title">Call:</span>
            <a href="tel:5055550125" class="contacts-list__link">(505) 555-0125</a>
          </li>
          <li class="contacts-list__item">
            <span class="contacts-list__title">Email:</span>
            <a href="mailto:hello@createx.com" class="contacts-list__link">hello@createx.com</a>
          </li>
          <li class="contacts-list__item">
            <span class="contacts-list__title">Schedule:</span>
            <span class="contacts-list__data">Mon - Fri 9:00 - 18:00</span>
          </li>
        </ul>
      </li>
    </ul>
    <h2 class="title title--center">Find us at</h2>
    <ul class="social list-reset">
      <li class="social__item">
        <a href="#" class="social__link" target="_blank" aria-label="Whatsapp">
          <svg class="">
            <use xlink:href="img/sprite.svg#Whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" target="_blank" aria-label="Messenger">
          <svg class="">
            <use xlink:href="img/sprite.svg#Messenger"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" target="_blank" aria-label="Facebook">
          <svg class="">
            <use xlink:href="img/sprite.svg#Facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" target="_blank" aria-label="Twitter">
          <svg class="">
            <use xlink:href="img/sprite.svg#Twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" target="_blank" aria-label="Youtube">
          <svg class="">
            <use xlink:href="img/sprite.svg#YouTube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
