<section class="figures">
  <div class="container">
    <h2 class="title title--center figures__title">Some facts and figures</h2>
    <ul class="list-reset figures__list">
      <li class="figures__item">
        <div class="figures-element">
          <div class="figures-element__circle">
            <img class="figures-element__image" src="./img/figure-1.svg" alt="">
            <div class="figures-element__value">
              98%
            </div>
          </div>
          <span class="figures-element__text">
            Totally satisfied clients
          </span>
        </div>
      </li>
      <li class="figures__item">
        <div class="figures-element">
          <div class="figures-element__circle">
            <img class="figures-element__image" src="./img/figure-2.svg" alt="">
            <div class="figures-element__value">
              20
            </div>
          </div>
          <span class="figures-element__text">
            Years of experience
          </span>
        </div>
      </li>
      <li class="figures__item">
        <div class="figures-element">
          <div class="figures-element__circle">
            <img class="figures-element__image" src="./img/figure-3.svg" alt="">
            <div class="figures-element__value">
              9452
            </div>
          </div>
          <span class="figures-element__text">
            Working hours spent
          </span>
        </div>
      </li>
      <li class="figures__item">
        <div class="figures-element">
          <div class="figures-element__circle">
            <img class="figures-element__image" src="./img/figure-4.svg" alt="">
            <div class="figures-element__value">
              100%
            </div>
          </div>
          <span class="figures-element__text">
            Succeeded projects
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>
