<section class="page-hero page-hero--post">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Homepage</a></li>
      <li class="breadcrumbs__item"><a href="news.html" class="breadcrumbs__link">News</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link">How to Build Climate Change-Resilient Infrastructure</a></li>
    </ul>
    <h1 class="page-hero__title">
      How to Build Climate Change-Resilient Infrastructure
    </h1>
    <div class="recent-article__meta article-meta article-meta--single">
      <div class="article-meta__left">
        <span class="article-meta__item article-meta__item--current">Industry News</span>
        <time class="article-meta__item article-meta__item--time" datetime="2020-06-24 19:00">June 24, 2020</time>
        <span class="article-meta__item article-meta__item--comments">4 comments</span>
      </div>
      <div class="article-meta__right">
        <a class="article-meta__link" href="#" aria-label="facebook">
          <svg class="">
            <use xlink:href="img/sprite.svg#Facebook"></use>
          </svg>
        </a>
        <a class="article-meta__link" href="#" aria-label="linkedin">
          <svg class="">
            <use xlink:href="img/sprite.svg#Linked-In"></use>
          </svg>
        </a>
        <a class="article-meta__link" href="#" aria-label="twitter">
          <svg class="">
            <use xlink:href="img/sprite.svg#Twitter"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
