<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="title history__title">
        Our history
      </h2>
      <div class="slider-nav">
        <button class="btn-reset slider-nav__btn slider-btn history__prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn history__next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="history__content grid">
      <ul class="history__nav history-nav list-reset">
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn history-nav__btn--current">
            Present
          </button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">
            March 2019
          </button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">
            November 2018
          </button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">
            July 2015
          </button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">
            August 2010
          </button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">
            February 2007
          </button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">
            May 2004
          </button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">
            October 2001
          </button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">
            June 2000
          </button>
        </li>
      </ul>
      <div class="swiper history__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="history__image" src="./img/history-slider.jpg" alt="History">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae
              egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
              vitae.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="./img/history-slider.jpg" alt="History">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae
              egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
              vitae.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
