<section class="interior-benefits section-offset">
  <div class="container">
    <h2 class="title title--center interior-benefits__title">
      Our benefits
    </h2>
    <p class="descr descr--center interior-benefits__content">
      Our mission is to set the highest standards for construction sphere.
    </p>
    <ul class="list-reset interior-benefits__list">
      <li class="interior-benefits__item interior-benefits__item--terms">
        <h3 class="interior-benefits__subtitle">
          Fixed Terms & Cost
        </h3>
        <p class="interior-benefits__descr">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip
          sunt.</p>
      </li>
      <li class="interior-benefits__item interior-benefits__item--workers">
        <h3 class="interior-benefits__subtitle">
          Qualified Workers
        </h3>
        <p class="interior-benefits__descr">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim
          empor est ea.</p>
      </li>
      <li class="interior-benefits__item interior-benefits__item--control">
        <h3 class="interior-benefits__subtitle">
          Supervision & Control
        </h3>
        <p class="interior-benefits__descr">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco
          proident ea ad.</p>
      </li>
    </ul>
    <div class="centered interior-benefits__centered">
      <button class="btn btn-reset btn--fill interior-benefits__btn">Discuss a project</button>
    </div>
  </div>
</section>
