<section class="partners partners--work">
  <div class="container">
    <h2 class="title title--center partners__title">
      Our clients
    </h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./img/client-logo-1.png" alt="InDepth Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./img/client-logo-2.png" alt="Higher Fit" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./img/client-logo-3.png" alt="Sentinal Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./img/client-logo-4.png" alt="Happy Home" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./img/client-logo-5.png" alt="For Sale" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./img/client-logo-6.png" alt="Sunset Realty" class="partners__logo partners__logo--last">
        </a>
      </li>
    </ul>
  </div>
</section>
