<section class="portfolio">
  <div class="container portfolio__container">
    <h2 class="visually-hidden">Portfolio</h2>
    <ul class="portfolio-tabs-nav list-reset">
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active" data-path="all">
          <svg class="">
            <use xlink:href="img/sprite.svg#portfolio-house"></use>
          </svg>
          <span>All Projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn" data-path="constr">
          <svg class="">
            <use xlink:href="img/sprite.svg#portfolio-construction"></use>
          </svg>
          <span>Construction</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn" data-path="dev">
          <svg class="">
            <use xlink:href="img/sprite.svg#portfolio-plan"></use>
          </svg>
          <span>Project Development</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn" data-path="design">
          <svg class="">
            <use xlink:href="img/sprite.svg#portfolio-pantone"></use>
          </svg>
          <span>Interior Design</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn" data-path="repair">
          <svg class="">
            <use xlink:href="img/sprite.svg#portfolio-painting"></use>
          </svg>
          <span>Repairs</span>
        </button>
      </li>
    </ul>
    <ul class="list-reset portfolio-tabs grid portfolio__tabs">
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item" data-target="constr">
          <img class="portfolio-item__image" src="./img/portfolio-item-1.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Cubes Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="modern-cottage.html" class="portfolio-item" data-target="constr">
          <img class="portfolio-item__image" src="./img/portfolio-item-2.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Modern Cottage</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="./img/portfolio-item-3.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Luxury Beach House</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="./img/portfolio-item-4.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
            <span class="portfolio-item__descr">Apartments & flats</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item" data-target="design">
          <img class="portfolio-item__image" src="./img/portfolio-item-5.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
            <span class="portfolio-item__descr">Apartments & flats</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item" data-target="design">
          <img class="portfolio-item__image" src="./img/portfolio-item-6.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Apartments & flats</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item" data-target="repair">
          <img class="portfolio-item__image" src="./img/portfolio-item-7.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item" data-target="repair">
          <img class="portfolio-item__image" src="./img/portfolio-item-8.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item" data-target="repair">
          <img class="portfolio-item__image" src="./img/portfolio-item-9.png" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
          </div>
        </a>
      </li>
    </ul>
    <button class="btn-reset portfolio__btn">Load more</button>
  </div>
</section>
