<section class="positions-content">
  <h2 class="visually-hidden">Our available positions</h2>
  <div class="container positions-content__container grid">
    <div class="positions-content__left">
      <ul class="list-reset positions-content__list">
        <li class="positions-content__item">
          <article class="positions-item">
            <div class="positions-item__left">
              <div class="positions-item__meta">
                <span class="positions-item__town positions-item__data">New York</span>
                <span class="positions-item__time positions-item__data">Full Time</span>
              </div>
              <h3 class="positions-item__title">Heavy Equipment Operator</h3>
            </div>
            <a class="btn btn-reset btn--stroke-primary positions-item__btn" href="#" target="_blank">Apply now</a>
          </article>
        </li>
        <li class="positions-content__item">
          <article class="positions-item">
            <div class="positions-item__left">
              <div class="positions-item__meta">
                <span class="positions-item__town positions-item__data">San Francisco</span>
                <span class="positions-item__time positions-item__data">Full Time</span>
              </div>
              <h3 class="positions-item__title">Financial Compliance Analyst</h3>
            </div>
            <a class="btn btn-reset btn--stroke-primary positions-item__btn" href="#" target="_blank">Apply now</a>
          </article>
        </li>
        <li class="positions-content__item">
          <article class="positions-item">
            <div class="positions-item__left">
              <div class="positions-item__meta">
                <span class="positions-item__town positions-item__data">New Jersey</span>
                <span class="positions-item__time positions-item__data">Full Time</span>
              </div>
              <h3 class="positions-item__title">Project Manager - Buildings</h3>
            </div>
            <a class="btn btn-reset btn--stroke-primary positions-item__btn" href="#" target="_blank">Apply now</a>
          </article>
        </li>
        <li class="positions-content__item">
          <article class="positions-item">
            <div class="positions-item__left">
              <div class="positions-item__meta">
                <span class="positions-item__town positions-item__data">New York</span>
                <span class="positions-item__time positions-item__data">Part Time</span>
              </div>
              <h3 class="positions-item__title">Environment Specialist</h3>
            </div>
            <a class="btn btn-reset btn--stroke-primary positions-item__btn" href="#" target="_blank">Apply now</a>
          </article>
        </li>
        <li class="positions-content__item">
          <article class="positions-item">
            <div class="positions-item__left">
              <div class="positions-item__meta">
                <span class="positions-item__town positions-item__data">New York</span>
                <span class="positions-item__time positions-item__data">Full Time</span>
              </div>
              <h3 class="positions-item__title">Accountant</h3>
            </div>
            <a class="btn btn-reset btn--stroke-primary positions-item__btn" href="#" target="_blank">Apply now</a>
          </article>
        </li>
      </ul>
    </div>
    <div class="positions-content__right">
      <h3 class="positions-content__title">Didn’t find what you were looking for?</h3>
      <p class="positions-content__descr">Send your CV or subscribe to our newsletter to receive information about new
        vacancies.</p>
      <div class="positions-content__buttons">
        <button class="btn btn-reset btn--stroke-primary positions-content__subscribe" data-graph-animation="custom"
          data-graph-path="subscribe" data-graph-speed="500">Subscribe</button>
        <button class="btn btn-reset btn--fill positions-content__send-cv" data-graph-animation="custom"
          data-graph-path="send-cv" data-graph-speed="500">Send cv</button>
      </div>
    </div>
  </div>
</section>
