<div class="comments__wrapper">
  <form class="post-form">
    <h2 class="title title--center post-form__title">Leave your comment</h2>
    <div class="post-form__content">
      <label class="form-field" for="">
        <span class="form-field__caption post-form__caption">Name*</span>
        <input class="form-field__input post-form__input" type="text" placeholder="Your name" required>
      </label>
      <label class="form-field" for="">
        <span class="form-field__caption post-form__caption">Email*</span>
        <input class="form-field__input post-form__input" type="email" placeholder="Your working email" required>
      </label>
      <label class="form-field post-form__textarea-label" for="">
        <span class="form-field__caption post-form__caption">Your comment*</span>
        <textarea class="form-field__input post-form__input post-form__input--big" name="" id="" cols="30" rows="10" placeholder="Type comment here" required></textarea>
      </label>
    </div>
    <button class="post-form__button btn-reset btn btn--fill">Post comment</button>
  </form>

</div>
