<div class="comments">
  <div class="comments__wrapper">
    <h2 class="title title--center comments__title">4 comments</h2>
    <ul class="list-reset comments__list">
      <li class="comments__item">
        <article class="comment">
          <div class="comment__left">
            <h3 class="comment__name">Devon Lane</h3>
            <time class="comment__date" datetime="2020-06-24 19:00">July 15, 2020</time>
          </div>
          <div class="comment__right">
            <p class="comment__text">Phasellus varius faucibus ultrices odio in. Massa neque dictum natoque ornare
              rutrum malesuada et phasellus. Viverra natoque nulla cras vel nisl proin senectus. Tortor sed eleifend
              ante tristique felis sed urna aliquet. Suspendisse fames egestas sed duis purus diam et.</p>
            <button class="btn-reset comment__btn">
              <svg class="">
                <use xlink:href="img/sprite.svg#share-arrow"></use>
              </svg>
              Reply</button>
          </div>
        </article>
      </li>
      <li class="comments__item">
        <article class="comment">
          <div class="comment__left">
            <h3 class="comment__name">Annette Black</h3>
            <time class="comment__date" datetime="2020-06-24 19:00">1 day ago</time>
          </div>
          <div class="comment__right">
            <p class="comment__text"><a href="#" class="comment__mention">@Devon Lane</a> Egestas fermentum natoque
              sollicitudin mauris. Facilisis praesent urna
              sed rhoncus quis pharetra pellentesque erat sagittis.</p>
            <button class="btn-reset comment__btn"><svg class="">
                <use xlink:href="img/sprite.svg#share-arrow"></use>
              </svg>Reply</button>
          </div>
        </article>
      </li>
      <li class="comments__item">
        <article class="comment">
          <div class="comment__left">
            <h3 class="comment__name">Albert Flores</h3>
            <time class="comment__date" datetime="2020-06-24 19:00">July 7, 2020</time>
          </div>
          <div class="comment__right">
            <p class="comment__text">Libero commodo sit dui ac proin. Penatibus ultricies at adipiscing mauris nunc.
              Fames faucibus nisl duis id diam.</p>
            <button class="btn-reset comment__btn"><svg class="">
                <use xlink:href="img/sprite.svg#share-arrow"></use>
              </svg>Reply</button>
          </div>
        </article>
      </li>
      <li class="comments__item">
        <article class="comment">
          <div class="comment__left">
            <h3 class="comment__name">Marvin McKinney</h3>
            <time class="comment__date" datetime="2020-06-24 19:00">June 28, 2020</time>
          </div>
          <div class="comment__right">
            <p class="comment__text">Ullamcorper nibh sed ac ipsum nunc imperdiet rhoncus. Quam donec habitant nibh sit
              consequat erat libero, tincidunt. Eros ut aliquam proin et duis. Mauris, egestas congue nibh dui a nulla.
            </p>
            <button class="btn-reset comment__btn"><svg class="">
                <use xlink:href="img/sprite.svg#share-arrow"></use>
              </svg>Reply</button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>
