<section class="pricing">
  <div class="container pricing__container">
    <h2 class="pricing__title title title--center">Pricing</h2>
    <p class="pricing__descr descr descr--center">We offer you three categories of construction.</p>

    <div class="table-wrapper">
      <table class="pricing__table table">
        <caption class="visually-hidden">Tariffs table</caption>
        <thead class="table__header">
          <tr class="table__row">
            <th class="table__th">Items</th>
            <th class="table__th">
              <div class="table__heading">Basic</div>
              <div class="table__per">$20 per m2</div>
            </th>
            <th class="table__th">
              <div class="table__heading">Standard</div>
              <div class="table__per">$30 per m2</div>
            </th>
            <th class="table__th">
              <div class="table__heading">Business</div>
              <div class="table__per">$40 per m2</div>
            </th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr class="table__row">
            <td class="table__column">Installation plan</td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column">Planning solutions (2-3 options)</td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column">Lighting plan</td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column">Flooring plan</td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column">Heating floor laying scheme</td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column">Air conditioner zones layout</td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column">3D visualization of all rooms</td>
            <td class="table__column">
              <span class="table__text">simplified</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column">Visualization of each room (3-4 angles)</td>
            <td class="table__column">
              <span class="table__false">Unavailable</span>
            </td>
            <td class="table__column">
              <span class="table__false">Unavailable</span>
            </td>
            <td class="table__column">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column">Terms</td>
            <td class="table__column">
              <span class="table__text">10 days</span>
            </td>
            <td class="table__column">
              <span class="table__text">20 days</span>
            </td>
            <td class="table__column">
              <span class="table__text">30 days</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__column"></td>
            <td class="table__column">
              <button class="btn btn--stroke-primary btn-reset table__btn">Send request</button>
            </td>
            <td class="table__column">
              <button class="btn btn--stroke-primary btn-reset table__btn">Send request</button>
            </td>
            <td class="table__column">
              <button class="btn btn--stroke-primary btn-reset table__btn">Send request</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
