<section class="project-goal">
  <div class="container grid project-goal__container">
    <div class="project-goal__left">
      <h2 class="project-goal__title title">Project goal</h2>
      <p class="project-goal__descr">Build a private house 840 sq. feet with a large living room, three bedrooms, two
        bathrooms, a terrace, a pool and a garage for two cars.</p>
      <p class="project-goal__descr">Modern design and care for each family member to feel as comfortable as possible
        in the new home.</p>
    </div>
    <div class="project-goal__right">
      <div class="project-info">
        <ul class="project-info__list list-reset">
          <li class="project-info__item">
            <h3 class="project-info__category">Location</h3>
            <span class="project-info__value">2464 Royal Ln. Mesa, New Jersey</span>
          </li>
          <li class="project-info__item">
            <h3 class="project-info__category">Client</h3>
            <span class="project-info__value">Darlene Robertson</span>
          </li>
          <li class="project-info__item">
            <h3 class="project-info__category">Architect</h3>
            <span class="project-info__value">HIK Architecture</span>
          </li>
          <li class="project-info__item">
            <h3 class="project-info__category">Size</h3>
            <span class="project-info__value">840 sq. feet</span>
          </li>
          <li class="project-info__item">
            <h3 class="project-info__category">Value</h3>
            <span class="project-info__value">$2 million</span>
          </li>
          <li class="project-info__item">
            <h3 class="project-info__category">Completed</h3>
            <span class="project-info__value">May 2020</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
