<section class="quotation">
  <div class="container quotation__container">
    <img src="./img/quotation.jpg" alt="Courtney Alexander" class="quotation__image">
    <div class="quotation__content">
      <blockquote class="quotation__quote quote">
        <div class="quote__content">
          <p class="quote__descr">Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at
            proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit
            et mi. Odio massa purus vel praesent arcu enim elit felis viverra.
            </p>
          <p class="quote__descr">Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet
            suspendisse faucibus tempor ipsum integer.</p>
        </div>
        <footer class="quote__footer">
          <span class="quote__author">Courtney Alexander</span>
          <span class="quote__position">CEO - Createx Construction Bureau</span>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
