<section class="team">
  <div class="container">
    <h2 class="title title--center">
      Our team
    </h2>
    <p class="descr descr--center">
      People are at the heart of Createx Construction Bureau
    </p>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <div class="team__img">
          <img class="team__image" src="./img/team-1.jpg" alt="Person">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked in">
              <svg class="">
                <use xlink:href="img/sprite.svg#Linked-In"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#Twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#Facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__descr">
          <h3 class="team__name">Courtney Alexander</h3>
          <p class="team__status">CEO, Co-Founder</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__img">
          <img class="team__image" src="./img/team-2.jpg" alt="Person">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked in">
              <svg class="">
                <use xlink:href="img/sprite.svg#Linked-In"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#Twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#Facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__descr">
          <h3 class="team__name">Calvin Fox</h3>
          <p class="team__status">CEO, Co-Founder</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__img">
          <img class="team__image" src="./img/team-3.jpg" alt="Person">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked in">
              <svg class="">
                <use xlink:href="img/sprite.svg#Linked-In"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#Twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#Facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__descr">
          <h3 class="team__name">Johnny Lane</h3>
          <p class="team__status">Commercial Manager</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__img">
          <img class="team__image" src="./img/team-4.jpg" alt="Person">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked in">
              <svg class="">
                <use xlink:href="img/sprite.svg#Linked-In"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#Twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#Facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__descr">
          <h3 class="team__name">Diane Mccoy</h3>
          <p class="team__status">Director of Human Resources</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__img">
          <img class="team__image" src="./img/team-5.jpg" alt="Person">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked in">
              <svg class="">
                <use xlink:href="img/sprite.svg#Linked-In"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#Twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#Facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__descr">
          <h3 class="team__name">Judith Warren</h3>
          <p class="team__status">Lead Accountant</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__img">
          <img class="team__image" src="./img/team-6.jpg" alt="Person">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked in">
              <svg class="">
                <use xlink:href="img/sprite.svg#Linked-In"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#Twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#Facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__descr">
          <h3 class="team__name">Floyd Simmmons</h3>
          <p class="team__status">Finacial Director</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__img">
          <img class="team__image" src="./img/team-7.jpg" alt="Person">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked in">
              <svg class="">
                <use xlink:href="img/sprite.svg#Linked-In"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#Twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#Facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__descr">
          <h3 class="team__name">Serenity Edwards</h3>
          <p class="team__status">Director of Marketing</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__img">
          <img class="team__image" src="./img/team-8.jpg" alt="Person">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked in">
              <svg class="">
                <use xlink:href="img/sprite.svg#Linked-In"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#Twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#Facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__descr">
          <h3 class="team__name">Shawn Edwards</h3>
          <p class="team__status">Tech Lead</p>
        </div>
      </li>
    </ul>
    <p class="team__positions descr descr--center">Become a part of the best team in the construction market of the USA. <a href="positions.html" class="team__positions-link">Available Positions</a></p>
  </div>
</section>
