html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main-title {
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  color: var(--color-ebony);

  .accent-letter {
    color: var(--color-primary);
  }

  &--home {
    color: var(--color-light);
  }

  @include small-tablet {
    font-size: 60px;
  }

  @include mobile {
    font-size: 36px;
  }
}

.main-descr {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-storm);

  &--home {
    margin-bottom: 61px;
    color: var(--color-light);
  }

  @include small-tablet {
    font-size: 16px;
  }
}

.btn {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  padding: 15px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  @include small-tablet {
    padding: 10px 28px;
    font-size: 14px;
  }

  &--fill {
    border-color: var(--color-primary);
    background-color: var(--color-primary);

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 3px;
    }

    &:hover {
      border-color: var(--color-primary-contrast);
      background-color: var(--color-primary-contrast);
    }

    &:active {
      border-color: var(--color-primary-contrast);
      background-color: var(--color-primary-contrast);
    }
  }

  &--stroke {
    &-light {
      border-color: var(--color-light);

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 3px;
      }

      &:hover {
        border-color: var(--color-gray);
        background-color: var(--color-gray);
        color: var(--color-light);
      }

      &:active {
        border-color: var(--color-ebony);
        background-color: var(--color-ebony);
        color: var(--color-light);
      }
    }

    &-primary {
      border-color: var(--color-primary);
      color: var(--color-primary);

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 3px;
      }

      &:hover {
        background-color: var(--color-primary);
        color: var(--color-light);
      }

      &:active {
        background-color: var(--color-primary);
        color: var(--color-light);
      }
    }
  }
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);

  @include tablet {
    font-size: 36px;
  }

  @include mobile {
    font-size: 28px;
  }

  &--center {
    text-align: center;
  }
}

.descr {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-storm);

  &--center {
    text-align: center;
  }

  @include small-tablet {
    font-size: 16px;
  }

  @include mobile {
    margin-bottom: 35px;
  }
}

.section-offset {
  padding-top: 120px;

  @include small-tablet {
    padding-top: 60px;
  }
}

.custom-checkbox {
  position: relative;

  &:focus-within {
    border-radius: 4px;
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__text {
    display: block;
    padding-left: 27px;
    color: var(--color-gray);
    font-size: 14px;
    line-height: 150%;
  }

  &__box {
    position: absolute;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #B3B7BC;
    transition: backgroung-color 0.3s ease-in-out;
  }

  &__input:checked+&__box {
    border: none;
    background-image: url("../img/checked.png");
    background-color: var(--color-primary);
  }

  &__input:disabled+&__box {
    background-color: #F4F5F6;
  }
}

.custom-radio {
  position: relative;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__text {
    display: block;
    padding-left: 27px;
    color: var(--color-gray);
    font-size: 14px;
    line-height: 150%;
  }

  &__box {
    position: absolute;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 12px;
    border: 1px solid #B3B7BC;
    transition: border-color 0.3s ease-in-out;
  }

  &__input:checked+&__box {
    border-color:var(--color-primary);

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 12px;
      background-color: var(--color-primary);
    }
  }

  &__input:disabled+&__box {
    background-color: #F4F5F6;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.custom-file {
  position: relative;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }

  &__text {
    display: block;
    margin-bottom: 0;
    padding-left: 34px;
    color: var(--color-gray);
    font-size: 14px;
    line-height: 150%;
  }

  &__box {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/attach.svg');
  }
}

.burger {
  @include burger;
  display: none;
  --burger-width: 30px;
  --burger-height: 15px;
  --burger-line-height: 1px;

  @include tablet {
    display: block;
  }
}
